*{
    margin: 0;
    padding: 0;
}
a{
    text-decoration: none;
}
@font-face {
    font-family: 'iconfont';  /* project id 2115136 */
    src: url('//at.alicdn.com/t/font_2115136_jem2w1mpk5.eot');
    src: url('//at.alicdn.com/t/font_2115136_jem2w1mpk5.eot?#iefix') format('embedded-opentype'),
    url('//at.alicdn.com/t/font_2115136_jem2w1mpk5.woff2') format('woff2'),
    url('//at.alicdn.com/t/font_2115136_jem2w1mpk5.woff') format('woff'),
    url('//at.alicdn.com/t/font_2115136_jem2w1mpk5.ttf') format('truetype'),
    url('//at.alicdn.com/t/font_2115136_jem2w1mpk5.svg#iconfont') format('svg');
  }
.iconfont{
    font-family:"iconfont" !important;
    font-size:16px;font-style:normal;
    -webkit-font-smoothing: antialiased;
    -webkit-text-stroke-width: 0.2px;
    -moz-osx-font-smoothing: grayscale;
}
ul{
    list-style: none;
}

.box{
    width: 100%;
    height: 100%; 
}
.top{
    min-width: 980px;
    width: 980px;
    height: 41px/*185*/;
    margin: 0 auto;
    position: relative;

}
.header{
    height: 41px;
    background-color: transparent;
}
.header ul .first{
    position: absolute;
    top: 0;
    left: 0;
    display: inline-block;
    z-index: 10001;
    width: 112px;
    height: 39px;
    background: url(..//Image/logo.png) top center no-repeat;
}
.header ul .second{
    position: absolute;
    top: 0;
    left: 112px;
    width: 230px;
    height: 41px;
    background: url(..//Image/cener1.jpg);
}
.header ul .third{
    text-indent: 30px;
    font-size: 14px;
    color: #464646;
    position: absolute;
    top: 10px;
    right: 135px;
    vertical-align: middle;
    background:url(..//Image/left_center.png) no-repeat ;
    background-position: -30px -5px;
}
.header ul .four{
    text-align: center;
    font-size: 14px;
    color: #333;
    position: absolute;
    top: 10px;
    right: 0;
}
.bottom{
    display: none;
    z-index: 1001;
    width: 980px;
    height: 185px;
    position: absolute;
    top: 0;
    background: url(..//Image/123.jpg);
}
.bottomr{
    z-index: 1001;
    width: 700px;
    height: 386px;
    position: absolute;
    top: 41px;
    right: 0;
    display: none;

    /* 过渡动画效果，没定义动画名称 */
    /* animation: name 10s ease-in-out; */
    background-color: red;
}
/* @keyframes name  动画名称*/
.container{
    width: 100%;
    /* height: 3000px; */
    /* 结局margin塌陷问题，可利用BFC解决 */
    overflow: hidden;
    background: url(..//Image/connect_top.jpg) no-repeat;
}
.nav{
    /* 层叠样式处理 */
    z-index: 1000;
    position: absolute;
    top: 41px;
    left: 0;
    width: 100%;
    height: 84px;
    /* background:url(..//Image/connect_top.jpg) no-repeat;84 */
    /* overflow: hidden; */
    background-color: rgba(0, 0, 0, .4);
    
}
.nav_center{
    height: 84px;
    width: 1200px;/*980*/
    position: relative;
    margin: 0 auto;
    /* background-color: rgba(0, 0, 0, .4); */
}
.nav_ul{
    margin-left: 150px;
}
.nav_ul li{
    width: 110px;
    height: 100%;
    float: left;
    text-align: center;
    font-family: "Microsoft YaHei";
    font-size: 18px;
}
.nav_ul li a{
    display: inline-block;
    padding:20px 0 0 0 ;
    color: white;
}
.nav_ul li:first-child a img{
    position: absolute;
    top: 14px;
    left: 0;
}
.nav_ul li a em{
    padding: 5px 0 0 0;
    font-size: 12px;
    color: #858792;
}
em{
    display: block;
    line-height: 16px;
    font-style: normal;
}
.nav_ul li:last-child a img{
    cursor: pointer;
    background-repeat: no-repeat;
    background-position: center center;
}

.nav_list{
    display: none;
    width: 100%;
    height: 201px;
    background-color: rgba(0, 0, 0, .4);
}
.list{
    width: 840px;
    height: 201px;
}

.main_connect{
    width: 1200px;
    height: 342px;
    margin: 0 auto;
    margin-top:500px;
}
.a1{/*d第一个盒子*/
    width: 604px;
    height: 342px;
    float: left;
}
.bgc{
    width: 604px;
    height: 298px;
    background: url(..//Image/xiwen.jpeg);
}
.img_bottom{
    width: 604px;
    height: 44px;
    float: bottom;
}

.xinwen_title{       /*第二个子盒子*/
    /* display: inline-block; */
    float: left;
    width: 359px;
    height: 342px;
}
.lie_ul{
    width: 325px;
    height: 49px;
    /* display: inline-block; */
    float: left;
    margin: 0 17px;
    overflow: hidden;
    border-bottom: 1px solid #000;
}
.lie_ul li{
    width: 52px;
    height: 48px;
    /* display: inline-block; */
    line-height: 48px;
    float: left;
}
.lie_ul li a{
    width: 28px;
    height: 45px;
    padding-right:7px;
    padding-left: 7px;
    margin: 0 0 0 0;
}
.xinwen_title .Omit{
    float: right;
    font-weight: 700px;
}
.xinwen_xia{
    width: 325px;
    height: 289px;
    /* display: inline-block; */
    /* background-color: red; */
    float: left;
    margin: 0 17px;
}
.xinwen_xia li{
    display: inline-block;
}
.k{
    width: 325px;
    height: 21px;
    font-size: 14px;
    margin: 0 0 7px 0;
    white-space: nowrap;/*跟text-overflow 搭配使用*/
    overflow: hidden;
    text-overflow: ellipsis;/*超出部分显示省略号*/
    /* margin-top: 4px;
    margin-bottom: 4px; */
}
.k1{
    width: 325px;
    height: 21px;
    font-size: 14px;
    margin: auto;
    white-space: nowrap;/*跟text-overflow 搭配使用*/
    overflow: hidden;
    text-overflow: ellipsis;/*超出部分显示省略号*/
}
.xia_1{
    width: 324px;
    height: 36px;
    float: left;
    margin: 18px 0 11px;
}
.xia_1 a span{
    width: 230px;
    height: 36px;
    padding: auto;
    line-height: 36px;
    font-size: 18px;
    color: #F3C258;
}
.lk{
    width: 34px;
    height: 18px;
    font-size: 12px;
    border:1px solid red;
    border-radius: 2px;
    color: #fff;
}

.download{  /*第三个盒子*/
    width: 236px;
    height: 342px;
    display: inline-block;
    /* float: left; */
    position: relative;
    margin: 0;
}
.download a{
    display: inline-block;
    /* float: left; */
}
.download1{
    width: 236px;
    height: 128px;
    display: inline-block;
    position: absolute;
    top: 0;
    right: 0;
    background: url(..//Image/index.png) no-repeat;
    background-position: 0 -219px;
}
.download2{
    width: 236px;
    height: 106px;
    display: inline-block;
    position: absolute;
    top: 128px;
    right: 0;
    background:url(../Image/index.png) no-repeat ;
    background-position: 0 -350px;
}
.download3{
    width: 236px;
    height: 108px;
    margin: 0;
    display: inline-block;
    position: absolute;
    top: 234px;
    right: 0;
    background:url(..//Image/index.png) no-repeat ;
    background-position: 0 -461px;
}


.mainconnect_bottom{
    width: 1215px;
    height: 124px;
    margin: 30px auto;
}
.mainconnect_bottom a{
    width: 291px;
    height: 134px;
    float: left;
    margin: 0 12.75px 0 0;
}




.connect_center{
    width: 1200px;
    height: 528px;
    margin:0 auto;
}
.headerleft{    /*内容中心左侧部分*/
    width: 872px;
    height: 528px;
    margin-right: 33px;
    float: left;
}
.connect_header{
    width: 872px;
    height: 26px;
    margin-bottom: 16px;
    position: relative;
}
.connect_header h3{
    width: 140px;
    height: 26px;
    font-size: 22px;
    line-height: 25px;
    text-indent: 33px;
    font-weight: 600;
    letter-spacing: 1px;
    margin-bottom: 5px;
    background: url(..//Image/index.png) no-repeat;
    background-position: 0 -106px;
}
.connect_header a{
    /* width: 50px; */
    height: 21px;
    position: absolute;
    top: 0;
    right: 0; 
}
.h_bottom{
    font-size: 14px;
    padding-left: 22px;
    color: #999;
    background: url(..//Image/index.png) no-repeat;
    background-position: -252px 4px;
    float: right;
}
.headerleft .lista{
    width: 872px;
    height: 33px;
}
.headerleft  .lista a{
    width: 289px;
    height: 32px;
    display:block;
    float: left;
    text-align: center;
    font-size: 14px;
    color: #999;
    line-height: 32px;
}
.headerleft  .lista a:hover{
    border-bottom: 3px solid #F3C258;
}
.lista-bottom{
    width: 872px;
    height: 43px;
}
.lista-connect{
    width: 872px;
    height: 26px;
    line-height: 26px;
    padding: 8px 0 9px;
    margin: auto 0;
    color: #323235;
    font-size: 14px;
}
.vedio ul{
    width: 872px;
    height: 410px;
}
.vedio ul li{
    width: 209px;
    height: 175px;
    margin: 0 12px 30px 0;
    float: left;
    position: relative;
}
.vedio ul li:nth-child(4n){
    margin-right: 0;
}
.vedio ul li a{
    width: 212px;
    height: 175px;
    display: inline-block;
    position: relative;
}
.vedio ul li img{
    width: 209px;
    height: 125px;
    border-radius: 2px;
}
.emx{
    position: absolute;
    top: 105px;
    left:0;
    width: 189px;
    height: 22px;
    padding: 0 10px;
    color: #fff;
    font-size: 12px;
    background-color: rgba(0, 0,0, .7);
}
.emx_left{
    float: left;   
}
.emx_right{
    float: right;
}
.decorate{
    width: 212px;
    height: 40px;
    margin: 10px 0 0 0;
    font-size: 14px;
    color: #333;
}








.headerright{   /*右侧部分*/
    width: 295px;
    height: 528px;
    float: right;
}
.headerright h3{
    width: 140px;
    height: 25px;
    font-size: 22px;
    font-family: "Microsoft YaHei";
    background: url(..//Image/index.png) no-repeat;
    background-position: 0 -144px;
    text-indent: 33px;
    line-height: 25px;
    display: inline-block;

}
.headernav{
    width: 291px;
    height: 32px;
    margin-top: 16px;
    margin-bottom: 19px;
}
.headernav a{
    width: 97px;
    height: 32px;
    display:block;
    float: right;
    text-align: center;
    font-size: 14px;
    color: #999;
    line-height: 32px;
}
.headernav a:hover{
    border-bottom: 3px solid #F3C258;
}
.newhero{
    width: 294px;
    height: 222px;
    border: 1px solid #cccbcb;
}
.newimg{
    width: 295px;
    height: 156px;
    margin: 0;
    padding: 0;
}
.newhero_bottom{
    width: 264px;
    height: 48px;
    padding: 10px 15px;
    margin: 0;
}
.newbox{
    width: 294px;
    height: 185px;
    margin-top: 5px;
}
.newhero_li{
    width: 294px;
    height: 185px;
    
}
.newhero_bottom p:first-child{
    width: 262px;
    height: 27px;
    color: #333;
    font-size: 18px;
    font-weight: 700;
    font-family: "Microsoft YaHei";
}
.newhero_bottom p:last-child{
    width: 262px;
    height: 18px;
    font-size: 12px;
    color: #9999;
}
.newhero_li li{
    width: 68px;
    height: 173px;
    float: left;
    margin-right: 7px;
}
.newbox .newhero_li li:last-child{
    margin-right: 0;
}





/* 最后下边界 */
.connect_bottom{
    width: 1200px;
    height: 778px;
    margin: 0 auto;
}
.c_b_left{
    width: 872px;
    height: 100%;
    margin: 0 33px 0 0;
    position: relative;
    float: left;
}
.item_left{
    width: 140px;
    height: 24px;
    background: url(..//Image/index.png);
    background-position: 0 -184px;
    text-indent: 33px;
    display: inline-block;
}
.cb_bottom_left{
    width: 100%;
    height: 32px;
    background-color: #f5f5f5;
    margin: 19px 0;
}
.cb_bottom_left ul{
    width: 872px;
    height: 32px;
}
.cb_bottom_left ul li{
    display: inline;
}
.cb_bottom_left ul li a{
    font-size: 14px;
    font-family: 'Microsoft YaHei';
    padding: 0 27px;
    color: #999;
}
.cb_bottom_left ul li a:hover{
    border-bottom: 3px solid #F3C258;
}
.cb_bottom_left .list{
    width: 1px;
    height: 20px;
    display: inline-block;
    /* float: left; */
    overflow: hidden;
    background: #e1e1e1;
    margin: 5px 0 0;
}
.cbbl_img{
    width: 211px;
    height: 260px;
    float: left;
    margin-right: 15px;
}
.ul_box{
    float: left;
    width: 630px;
    height: 258px;
}
/* 伪类选择 */
.ul_box li:nth-child(n+2){
    line-height: 27px;
}
.title_list{
    width: 577px;
    height: 66px;
}
.st{
    width: 630px;
    height: 23px;
    margin: 0 0 9px;
}
.sl{
    white-space: nowrap;/*跟text-overflow 搭配使用*/
    overflow: hidden;
    text-overflow: ellipsis;
}
.title_list a{
    font-size: 24px;
    color: #333;
}
.sp{
    display: block;
}
.sp a{
    font-size: 14px;
}
.spa{
    width: 470px;
    height: 21px;
    font-size: 14px;
    color: #333;
    display: inline-block;
}
.dot{
    width: 52px;
    height: 23px;
    display: inline-block;
    color: #9999;
    text-align: center;
    background-color: #E3E3E3;
    margin: 0 12px 0 0;
    border-radius: 20px;
}
.c_b_right{
    width: 295px;
    height: 473px;
    
    float: left;
    

}
.cbr{
    width: 295px;
    height: 26px;
    margin: 0 0 16px;
    position: relative;
}
.c_b_right h3{
    width: 140px;
    height: 24px;
    background: url(..//Image/index.png);
    background-position: -157px -106px;
    white-space: nowrap;
    text-indent: 33px;
    font-size: 22px;
    display: inline-block;
}
.cbrs{
    width: 48px;
    height: 20px;
    position: absolute;
    top: 0;
    right: 50px;
    text-indent: 20px;
    margin-right:28px ;
    padding-left: 11px;
    line-height: 20px;
    border: 1px solid #F3C258;
    border-radius: 2px;
    background: url(..//Image/index.png);
    background-position: -243px -85px;
    
}
.c_b_right span a{
    font-size: 14px;
    color: #323235;
}
.cbrnav{
    width: 292px;
    height: 29px;
    background-color:#e3e3e3;
}
 .cbrnav .col1{
    width: 83px;
    height: 29px;
    display: block;
    float: left;
    color: #999;
    text-align: center;
    line-height: 29px;
    font-size: 14px;
}
.cbrnav .col2{
    width: 43px;
    height: 29px;
    line-height: 29px;
    display: block;
    float: left;
}
.cbrul{
    width: 295px;
    height: 201px;
}
.cbrul  ul li{
    width: 295px;
    height: 68px;
    border-bottom: 1px solid #e5e5e5;
}
.match_time{
    width: 80px;
    height: 67px;
    float: left;
    line-height: 67px;
    font-size: 12px;
    margin: 0;
    color: #333;
}
.team_name{
    width: 79px;
    height: 67px;
    float: left;
}
.vs{
    width: 49px;
    height: 67px;
    font-size: 14px;
    text-align: center;
    color: #F3C258;
    line-height: 67px;
    float: left;
}
.team_name img{
    width: 25px;
    height: 25px;
    margin: 10px 27px 0;
}
.team_name em{
    font-size: 12px;
    text-align: center;
    color: #333;
}
.last_img{
    width: 293px;
    height: 159px;
    margin-top: 35px;
}
.bottomvideo{
    width: 872px;
    height: 410px;
    position: absolute;
    left: 0;
    bottom: 0;
    margin: 0 auto;
}
.bottomvideo ul li{
    width: 209px;
    height: 175px;
    float: left;
    margin: 0 12px 30px 0;
}
.bottomvideo ul li:nth-child(4n){
    margin: 0 0 30px 0;
}
.bottomvideo ul li a{
    width: 212px;
    height: 175px;
}
.bottomvideo ul li a img{
    width: 209px;
    height: 125px;
}
.down{
    width: 212px;
    height: 40px;
    margin: 10px 0 0;
    color: #333;
    font-size: 14px;
    display: block;
}






.footer-wrap{
    width: 100%;
    height: 362px;
}
.footer-center{
    width: 1200px;
    height: 256px;
    margin: 0 auto;
    position: relative;
}
.foot-footer{
    width: 100%;
    height: 176px;
    margin: 80px 0 0;
}
.footer-l{
    width: 100%;
    height: 78px;
    padding-bottom: 10px;
    margin-bottom: 12px;
    border-bottom: 2px solid #d4d4d4;
}
.foot-a{
    width: 285px;
    height: 64px;
    margin: 0;
    display: inline-block;
    background: url(..//Image/spr.png) no-repeat;
}
.foot-b{
    width: 70px;
    height: 64px;
    margin: 0;
    display: inline-block;
    background: url(..//Image/spr.png) no-repeat -285px 0;
}
.para{
    width: 508px;
    height: 86px;
    float: left;
    color: #6D6D6D;
    font-size:12px;
}
.para p{
    width: 508px;
    height: 40px;
    display: inline-block;
}
.para p em{

    display: inline-block;
    margin: 0 12px 0 0;
}
.report{
    width: 300px;
    height: 20px;
    font-size: 12px;
    color: #646467;
}
.parar{
    width: 650px;
    height: 86px;
    float:right;
    margin-left: 30px;
}
.parar ul li{
    width: 650px;
    height: 20px;
    color:#646467;
    font-size: 12px;
}
.parar ul li a{
    display: inline-block;
    color:#646467;
    font-size: 12px;
    font-family: "微软雅黑",宋体;
}
.parar ul li a span{
   margin: 0 1px;
}
.footer-float{
    float: right;
}
.jd{
    width: 200px;
    height: 40px;
    position: absolute;
    top: 200px;
    left: 550px;
    margin-top: 20px;
}